@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body {
    min-width: 500px;
    padding: 10px;
    margin: 0;
    -ms-overflow-style: none;  
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track{
  background: #ffffff;
}
body::-webkit-scrollbar-thumb{
  background: #a8a8a8;
  height: 5px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.time > span {
  padding: 0 2px;
  border: 0.3px solid #ccc;
}

.menu-btns {
  display: flex;
  justify-content: space-around;
}
.menu-btns > div {
  flex-grow: 1;
}
.my-btn {
  width: 100%;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0;
  background: #003882;
  cursor: pointer;
}
.my-btn:hover {
  background: rgb(234, 234, 234);
  color: #003882;
}
.block_browser {
  background: #b11010;
}
.block_browser:hover {
  color: #b11010;
}

/* forms style   */
form {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}
form > input {
  width: 45%;
  flex-grow: 1;
  margin-bottom: 5px;
  padding: 2px 3px;
}
input[type=text], input[type=number], input[type=datetime-local] {
  border: 0.2px solid #ccc;
}

input:hover, input:focus {
  outline: 0;
}

.alarm-time > p {
    margin:2px;
}
.alarm-time p button {
    background: #b11010; 
    color: aliceblue;
}

.features-list {
  padding-left:20px ;
}

b{
  margin-left: 3px;
  word-break:break-all;
}

.feature-btn {
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}
.display-features {
  display: none;
}

.horiline {
  border: none;
  border-top: 5px #ccc dotted;
  width: 10%;
  margin: 10px auto;
}

.fa-exclamation-triangle {
  color: #d10606;
}


/* alarms list, table */
.alarms-table{
  width: 100%;
}
.alarms-table, tr, th, td {
  border: 1px solid #ccc;
  text-align: center;
}
td {
  overflow-y: scroll;
}

td::-webkit-scrollbar {
  width: 0;
}

td::-webkit-scrollbar-track{
  background: #323232;
}
td::-webkit-scrollbar-thumb{
  background: #005184;
  height: 10px;
}